@media (min-width: 768px) {
    .login-logo {
        padding-left: 0px;
    }
}

.inner-logo {
    padding-left: 0px;
}

.table_90_header {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    transform-origin: 121px 119px;
    transform: rotate(270deg);
    width: 350px;
    text-align: left;
}

.sp_error {
    background-color: #ffece4;
}

.sp_s_error {
    background-color: #ffc093;
}

.no_bg {
    background-color: transparent !important;
    border: none !important;
}

.warn_error {
    border-color: #f57f0e !important;
}