.scroll_sp {
    margin-right: -10px;
    padding-right: 15px;
}

.divSourceDoc_content {
    background-color: #fff;
}

#divSourceDoc {
    position: fixed;
    right: -330px;
    width: 330px;
    top: 47px;
    padding-right: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10000;
}

    #divSourceDoc.open {
        right: -10px !important;
    }

    #divSourceDoc > div {
        z-index: 10001;
    }

#divSourceDoc_toggler {
    font-size: 21px;
    width: 40px;
    height: 40px;
    padding-right: 0;
    position: absolute;
    left: -40px;
    top: 187px;
    background: #444;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 99999;
    text-decoration: none !important;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

#divSourceDoc.open #divSourceDoc_toggler {
    font-size: 16px;
    color: #888;
}

    #divSourceDoc.open #divSourceDoc_toggler:hover {
        color: #fff;
    }

    #divSourceDoc.open #divSourceDoc_toggler:before {
        content: "\f00d";
    }

.divOutDoc_content {
    background-color: #fff;
    padding: 10px;
}

#divOutDoc {
    position: fixed;
    right: -330px;
    width: 330px;
    top: 47px;
    padding-right: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10000;
}

    #divOutDoc.open {
        right: -10px !important;
    }

    #divOutDoc > div {
        z-index: 10001;
    }

#divOutDoc_toggler {
    font-size: 21px;
    width: 40px;
    height: 40px;
    padding-right: 0;
    position: absolute;
    left: -40px;
    top: 232px;
    background: #444;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 99999;
    text-decoration: none !important;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

#divOutDoc.open #divOutDoc_toggler {
    font-size: 16px;
    color: #888;
}

    #divOutDoc.open #divOutDoc_toggler:hover {
        color: #fff;
    }

    #divOutDoc.open #divOutDoc_toggler:before {
        content: "\f00d";
    }

.divHistory_content {
    background-color: #fff;
    padding: 10px;
}

#divHistory {
    position: fixed;
    right: -330px;
    width: 330px;
    top: 47px;
    padding-right: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10000;
}

    #divHistory.open {
        right: -10px !important;
    }

    #divHistory > div {
        z-index: 10001;
    }

#divHistory_toggler {
    font-size: 21px;
    width: 40px;
    height: 40px;
    padding-right: 0;
    position: absolute;
    left: -40px;
    top: 277px;
    background: #444;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 99999;
    text-decoration: none !important;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

#divHistory.open #divHistory_toggler {
    font-size: 16px;
    color: #888;
}

    #divHistory.open #divHistory_toggler:hover {
        color: #fff;
    }

    #divHistory.open #divHistory_toggler:before {
        content: "\f00d";
    }
